nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--jaune);
    .navLeft{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }
    .navRight{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
    }
}

.navButton{
    margin-left: 10px;
}

.navButtonR, .iconShopping{
    margin-left: 9%;
    margin-right: 10%;
}

.navButton, .navButtonR{
    background-color: var(--orange);
    width:8rem;
    height: 2rem;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: aliceblue;
    font-size: small;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* ombre noir avec transparence */
    
}

.navButtonR:hover,.navButton:hover{
    box-shadow: 1px 1px 1px black;
    color: var(--vert);
}



.iconShopping{
    background-color: var(--orange);
    padding: 5px;
    border-radius: 15px 0 15px 0;
}




@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 0.5em;

    .navLeft, .navRight {
        justify-content: center;
        width: 100%;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    .navButton, .navButtonR {
        width: auto;
        font-size: 0.8rem;
        padding: 0.3em 0.6em;
    }

    .iconShopping {
      margin-top: 0.5em;
    }
  }
}