

/* -------------------------------------------variable-------------- */
:root {
    --jaune: #EFAD21;
    --brun: #3B231C;
    --orange: #D77A23;
    --vert: #506808;
}

/* ---------------------------------------------PARAMETRE GENERAL------------------- */

/* police des titres */
@font-face {
    font-family: 'Cartoo Nature';
    src: url('../fonts/CARTOONATURE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* suppression des marges */
body {

    margin: 0;
    font-family: "andika";
}


h2{
    font-family: 'Cartoo Nature';
    letter-spacing: 2px;
}
/* ------------------------------main------------------------ */

main {
    margin-top: 0;
    height: 2000px;
    background-color: var(--orange);
}

.containerPresentation{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(239, 173, 33, 0.7);
    padding: 2%;
}

.containerButtonPresentation {
    display: flex;
    justify-content: space-between;
    width: 70%;
    a{
        display: inline-flex;
        justify-content: space-around;
        border: 2px solid #506808;
        border-radius: 6px;
        text-decoration: none;
        width: 30%;
        text-align: center;
        color: #3B231C;
    }
    .localisationPresentation:hover{
        background-color: var(--jaune);
    }
    
}

.dropdown-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 999;
    margin-left: 31%;
    margin-top: 28px;
    background-color: var(--brun);
    a {
        width: auto;
        background-color: #EFAD21;
        margin-top: 2px;
        &:hover{
            color: var(--jaune);
            background-color: var(--vert);
        }
    }
}

main{
    height: 850px;
}

.contenerMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
}

.contenerMapCalendar{
    grid-column: 1fr 1fr;
}

#map { 
    margin: 3%;
    height: 290px; 
    width: 290px;
}

#calendarContainer{
    text-align: center;
    width: 45%;
    border: 2px solid #3B231C;
    margin-left: 39px;
    margin-top: 10%;
    
}

.contenerEvenement{
    margin-top: 3%;
    margin-right: 10%;
    background-color: var(--jaune);
    text-align: center;
    .event1, .event2{
        margin: 10%;
        width: 80%;
        height: 200px;
        background-color: var(--orange);
    }
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--vert);
    img{
        width: auto;
        height: 200px;
    }
    div{
        display: flex;
        flex-direction: column;
        a{
            margin-top: 20%;
            text-align: center;
            color: aliceblue;
            text-decoration: none;
            &:hover{
                width: 90%;
                color: var(--jaune);
                background-color: var(--brun);
                border-radius: 6px;
                box-shadow: 2px 2px 2px var(--jaune);
            }
        }
    }
}
